[2017-11-29 15:30] fabiandev opened #1 "SSL cannot be obtained at the moment. Please try again."
For anyone else having this issue, try to turn off proxying requests through a CDN like CloudFlare.

[2017-11-29 15:30] #1 closed

[2017-12-01 05:57] Dibbyo456 opened #2 "[Off-Topic] Add support for RunCloud?"
[RunCloud.io](https://runcloud.io/) is the best alternative for ServerPilot. I was hoping if you could add support or create similar SSL generator for the free plan. They're almost identical.

[2017-12-01 17:40] rehmatworks commented on #2
I haven't used that service yet. Will look into it and will create a script if that makes sense. Thanks for mentioning this.

[2017-12-11 17:47] #2 closed

[2017-12-28 16:20] hellor0bot opened #3 "How to uninstall?"
How can I uninstall `serverpilot-letsencrypt`?

I've already run `rwssl` with uninstall command. What else should I do?

Thanks!

[2017-12-28 19:21] rehmatworks commented on #3
Please check the main page. I've updated the uninstall instructions.

[2017-12-29 21:57] #3 closed

[2018-03-14 06:58] jesvinjoachim opened #4 "is it possible to add wilid card support , by the way , it is amazing , keep up the good work ,"

[2018-03-14 14:08] rehmatworks commented on #4
Thank you for the suggestion. I'll check into this and will update the repo as soon as I make it work.

[2018-03-24 12:26] githubcodi opened #5 "script broke my server"
Hi,
This script has broken my entire server, i was following all instructions correctly, still not sure what was the issue?

[2018-03-25 12:37] rehmatworks commented on #5
Sorry to hear about the issue. Can you please post the information on serverpilot logs? That'd be helpful.

[2018-03-30 13:35] githubcodi commented on #5
I have restored the droplet images to a previous date, i think i won't find those logs any more. Is it possible that once i create the SSL certificates for my apps, i can remove the script? or this will not work?

[2018-04-11 11:39] ricardojrgpimentel opened #6 "Renew with Cloudflare"
Hey, amazing script.
So i have used this in my server and i have cloudflare enabled, will letsencrypt be able to renew the cert?

[2018-04-12 00:51] RavenNull opened #7 "The script can nolonger add new certs"
I know just within the past few days, SP has updated their Apache version. I don't know if that has anything to do with that but now I get this error message: https://i.imgur.com/gcV4ERT.png

Edit: I'm an idiot. I had the wrong IP on the A record. Please close this issue as the issue doesn't lie with the project but the user.

[2018-04-12 14:18] makeshyft-tom-g commented on #7
yup that is my problem now too : (

[2018-04-14 11:02] RavenNull commented on #7
@makeshyft-tom-g My guess is it had to do with updating something. I just remember I upgraded apache-sp to a new version shortly before I noticed it stopped working. That's the only thing I can think of that would cause issues.

[2018-04-14 12:35] RavenNull commented on #7
@rehmatworks Yeah, I had the wrong IP on my A record but didn't notice because I was connecting over IPv6. Uh, I guess make sure your DNS records are correct.

[2018-04-14 12:38] makeshyft-tom-g commented on #7
I think it also has to do with server pilot updating their autoSSL product and stuff.  I couldn`t get it to work no matter what.

[2018-04-15 02:54] RavenNull commented on #7
@makeshyft-tom-g I don't know what to tell you. I just made sure my server was fully updated and added a new Let's Encrypt cert to double check that I was the problem.

[2018-04-15 12:48] makeshyft-tom-g commented on #7
Hey...no it was a simple droplet on DO .....  but maybe it was digital ocean having trouble communicating with the lets encrypt servers.    Its really weird that I had the same problem as someone else, but for a completely different reason.  I ended up switching to CentMin Mod from serverpilot...... thanks for the script it really helped alot at the time I used it.  All the best

[2018-04-16 03:42] makeshyft-tom-g commented on #7
Come to think of it ..... I am still running this script on one of my servers...is there any way to trigger the renewal early to see if its going to work?  .... i don't want to wait till the last minute to find out.  I'm really confused about why it was not working for me.  thanks for any guidance in this

[2018-04-30 11:28] dewzor opened #8 "Autorenewal not working."
Thanks for this awesome script!

Only one problem, and its a big one. Autorenewal is not working as it should. I use this script on 5 sites and ive found three of them unable to auto renew. So when i visit the site i suddenly get SSL warning etc. This is absolutely terrible for the sites rankings.

I would be very grateful if you could fix this as this is an awesome script, simple to use. When i m

[2018-05-01 06:31] oadslug commented on #8
I’m experiencing the same issue. I suspect the problem might have something to do with the cron task not being run from the correct environment, perhaps. For example, I notice that if I run the same command manually while logged in as root, it renews correctly. But when run from cron, I get the following error (via email).

/bin/sh: 1: sudo service nginx-sp stop && yes | letsencrypt --standalone r

[2018-05-01 09:17] jjroelofs commented on #6
just found out the hard way renewal doesn't work with cloudflare. searching for a solution

[2018-05-07 20:39] wikrie commented on #8
If somebody found an answer could you please update:
https://askubuntu.com/questions/1033316/letsencrypt-auto-renew-cronjob-failing

[2018-05-08 00:36] oadslug commented on #8
After some testing, I've made some progress:
1. The cron job should be run using 'bash' (not the default 'sh'), because:
    • `&>/dev/null` is bash syntax ('sh' would be `>/dev/null 2>&1`)
    • sh does not recognize commands in quotation marks (produces 'not found' error).
2. The cron file should define the default PATH variables at the top of the cron task.
3. If the cronjob is run as root, the

[2018-05-08 17:20] rambalwad opened #9 "Can I install multiple domain SSL on same app from serverpilot ?"
I have wp multi-site and need to install each site domain ssl and currently I am not able to do it, can you please help to resolve this ?

Thank you
Ram

[2018-05-13 22:56] rehmatworks commented on #9
Yes, the updated script takes care of everything. Please reinstall the script and you should be good to achieve what you are talking about.

[2018-05-13 22:56] #9 closed

[2018-05-13 22:57] rehmatworks commented on #8
Thanks for the input from all. I've upgraded the script and now it should be working fine as well as it is much more user-friendly now. Please reclone the script and you will be able to do much more with great ease.

[2018-05-13 22:57] #8 closed

[2018-05-13 22:59] rehmatworks commented on #5
Please check uninstall instructions. BTW I've upgraded the script and now it should be working fine.

[2018-05-13 22:59] #5 closed

[2018-05-13 23:00] rehmatworks commented on #7
I've upgraded the script. Even though the old script was working fine with the latest ServerPilot libs, the new upgraded one should be of great help. Please reclone the script and use it.

[2018-05-13 23:00] #7 closed

[2018-05-14 01:55] dragondreams19 opened #10 "multiple domains not working for me"
hello, i have updated to the latest version and ran the command rwssl -n appname and it showed all domains listed as being able to access the site and completes successfully but when I try to use one of those domains I just secured I get an error saying the cert is only valid for one of the domains on the list and not the others which throws the secure error page message.

[2018-05-14 01:56] dragondreams19 commented on #10
rwssl -n gemlinks
Obtaining SSL certificate for the app gemlinks.
SSL certificate has been successfully obtained for gemlinks.tk gemme.tk nryou.tk rylgems.tk www.gemlinks.tk www.gemme.tk www.nryou.tk www.rylgems.tk
Writing NGINX vhost file for the app gemlinks
Virtual host file created!
Reloading NGINX server...
SSL should have been installed and activated for the app gemlinks
root@boldcitygems:~#

[2018-05-14 08:47] rehmatworks commented on #10
Hi @dragondreams19, I see that SSL is active for all the domains you mentioned. It must be caching issue for you where your browser is still loading the old SSL cert. Please clear browser cache or check in private window. Everything looks good.

[2018-05-14 11:10] dragondreams19 commented on #10
Thanks for your reply but i figured it out. the server had duplicate conf files from where i used the previous version of rwssl.

[2018-05-14 11:14] #10 closed

[2018-05-14 11:30] dragondreams19 commented on #10
is it possible to exclude a domain name from getting a duplicate cert?

[2018-05-14 11:59] dragondreams19 opened #11 "ignore certain domain names"
is it possible to ignore certain domain names from getting a duplicate cert and only request a cert for newly added domains on the app?

[2018-05-14 12:51] rehmatworks commented on #11
Multiple SSL certificates aren't retrieved. Instead, all domain names are provided as SANs and a single SSL cert is issued for an app. If you still need to exclude some selected domains, I'll introduce that feature in next major version upgrade.

[2018-05-14 12:57] dragondreams19 commented on #11
okay thanks, i have a url shortner and it allows the user to pick from a list of domains to use as the shortner address and still need to add a few more just didnt wanna request same cert over and over.

[2018-05-15 03:40] rehmatworks commented on #11
As a single SSL vhost is created for an app that contains all domains belonging to it, currently it is the best approach to run the install command `rwssl -n appname` each time you add a new domain. I'm closing this issue for now and I'll consider this in next upgrade.

[2018-05-15 03:40] #11 closed

[2018-05-17 15:07] Dibbyo456 commented on #4
@rehmatworks is the latest version using wildcard certificates?

[2018-05-18 08:59] rehmatworks commented on #4
@Dibbyo456 not yet, I'll add this feature in next update.

[2018-05-18 13:43] bekircem opened #12 "DNS Check Failed"
Hi.

I've error when run rwssl -a command.

[code]
How can i fix that?

[2018-05-18 14:02] rehmatworks commented on #12
Ensure that your domains are live and they come up. If they are accessible from the intended server, then please re-run the command `rwssl -a`.

[2018-05-18 14:04] bekircem commented on #12
Domains are live. Could this be the problem? There are 3 apps on Serverpilot. All apps are use 1 domain. www.site.com and forum.site.com and viki.site.com

[2018-05-18 14:05] rehmatworks commented on #12
That shouldn't be an issue. Please re-run the command and see what does come up.

[2018-05-18 14:07] bekircem commented on #6
SSL work with Cloudflare? Or just renewal problem?

[2018-05-18 14:11] bekircem commented on #12
Ok. It works now. But 301 redirect doesn't work.

When i run `rwssl -redir all` command:

root@gameofthronestr:~# rwssl -redir all
Finding apps...
3 apps found in total. Proceeding further...
2 SSL apps found for which HTTP to HTTPS redirect is being enabled.
HTTP to HTTPS redirect configuration file has been written successfully.
Reloading NGINX server...
Reloading nginx-sp configuration: nginx-s

[2018-05-18 14:59] digitalwordings opened #13 "Multisite Maximum Domain Name"
What is the maximum domain name for multisite setup?

[2018-05-18 15:57] rehmatworks commented on #12
Glad to know that you got it working. Regarding the wildcard domain, the script currently isn't capable of obtaining wildcard SSL certs. I'll introduce this feature in next update.

[2018-05-18 15:59] rehmatworks commented on #13
Can you please elaborate a little more? If you are talking about the number of domains than there is a limit of 100 domains per certificate and this limit is imposed by Let's Encrypt.

[2018-05-18 16:14] bekircem commented on #12
Thank you for answer. Must i install another SSL to my subdomain?

[2018-05-18 19:14] rehmatworks commented on #12
As of now, you need to just run `rwssl -a` or install the SSL for each app individually as `rwssl -n appname`. You don't need to enter domain names manually. The script will read your vhost files and will extract all domains automatically that you have added in your ServerPilot control panel.

[2018-05-19 05:37] digitalwordings commented on #13
If i have more than 100 domain in my multisite setup, how this actually work?

Then, is this possible to obtain individual ssl for each domain name in multisite setup, because it can be used for multisite website which has more than 100 subsites with unique domain name

[2018-05-20 12:39] #12 closed

[2018-05-20 12:41] rehmatworks commented on #13
Yes, that sounds a better idea. I'll consider domain name based vhost files instead using app name in next version. That should solve all issues related to the number of domains for a single app.

[2018-05-20 18:09] digitalwordings commented on #13
i think it may be complicated for you, however if you implement this feature it will be great and if you implement this feature give option to disable ssl for particular domains, if you going to implement this let me know, feels excited to test this

[2018-05-22 06:53] rambalwad commented on #9
Thank you @rehmatworks

[2018-05-22 11:27] ricardojrgpimentel commented on #6
It does work with Cloudflare, and it looks like its still working and the renew was successful in my end @jjroelofs

[2018-05-22 18:55] jesvinjoachim opened #14 "www error (server pilot)"
root@linux:~# rwssl -n matrimonyhrm
Obtaining SSL certificate for the app matrimonyhrm.
DNS check failed. Please ensure that the domain(s) hm.dewsprout.com www.hm.dewsprout.com are resolving to your server.

www.hm.dewsprout.com this gives a problem - because it dosent resolve - can add a ignore subdomain www. to be optional ?

[2018-05-22 21:31] rehmatworks commented on #14
Hi @jesvinjoachim, domains are parsed from your `vhost` file. Simply remove the www domain from `domains` tab of your app (in serverpilot control panel) and then retry `rwssl`. Everything should work smoothly.

[2018-05-22 21:33] rehmatworks commented on #13
That shouldn't be complicated. I'll do some testing with this and will add this feature in next version update.

[2018-05-23 04:27] jesvinjoachim commented on #14
since you have developed rwssl -all , i thought it will be easier to just add this www exception too, because its automatically made added just like thath. by the way this all work is awesome , its really good . also i was wondering how much expensive it will be to make a clone of serverpilot , you already have lamppack etc . can we do that ?

[2018-05-23 05:08] JamiesonRoberts commented on #14
There is another bug related to this, which is if your www. is listed first in server pilot (and therefor in the vhost) then the script won't run. I was able to fix it by deleting the WWW record in server pilot and reading it, but it should still be able to handle it regardless of the order.

[2018-05-23 17:52] amster93 opened #15 "Command "python setup.py egg_info" failed with error code 1 in /tmp/pip-build-FXhuGJ/rwssl/"
hey, I'm getting this error when I try to install rwssl.
Serverpilot + Ubuntu 18.04

root@test3:~# pip install rwssl
Collecting rwssl
  Using cached https://files.pythonhosted.org/packages/db/81/b339b745e0159c1e5fbc3f6d61517312b2a437b2d276159fcb4e2843144f/rwssl-1.0.4.tar.gz
    Complete output from command python setup.py egg_info:
    Traceback (most recent call last):
      File "<string>", line

[2018-05-23 18:48] rehmatworks commented on #15
Hi,
Looks like `setuptools` package isn't installed on your system. Please install it:
[code]
Hope this fixes the issue.

[2018-05-23 18:51] rehmatworks commented on #14
@jesvinjoachim adding that exception is easy but the script expects a valid `vhost` file that just contains correct domains. So the best option should be to have only valid domains for your apps in your serverpilot control panel. Regarding a serverpilot clone, I can't say anything about the required budget without doing a complete analysis. If you are serious in a product like this, then we can ta

[2018-05-23 18:53] rehmatworks commented on #14
@JamiesonRoberts Thanks for finding out the bug. Yep that's correct as Let's Encrypt stores certs in a directory for the domain that doesn't contain www but rwssl simply assumes the first domain name as the directory name. I'll fix this issue in next update.

[2018-05-24 06:18] jesvinjoachim commented on #14
is this doable with a too much technical strain ? I am student and want to  have a startup .  sure , can you add me in in skype ?  jesvinjoachim . <<please delete the comment as soon as you read it altogether >> after reading and adding me

[2018-05-24 08:25] #15 closed

[2018-05-26 17:18] mariusherea opened #16 "ServerPilot + Ubuntu 16.04"
I have replaced the old script (which was working just fine) with the new python one but nothing works.
Requesting a new cert, renewing, refreshing... doesn't work.
The answer is "SSL should have been installed and activated for the app APPNAME" but it doesn't actually change the cert with the new one.....
I've been trying this on different servers, same result.

[2018-05-27 07:37] rehmatworks commented on #16
Maybe you are seeing the cached results from your browser? Please try in a private window or use https://www.sslshopper.com/ssl-checker.html to do a test.

[2018-05-30 07:38] rehmatworks commented on #14
Issues regarding `www` version and invalid domains should be addressed by the new version (1.0.5). Regarding a www domain in sub-domain app, `rwssl` may still through a DNS validation error. Ideally, an app should NOT contain any invalid domains. `rwssl` now only validates a domain name, not it's DNS. So please check `domains` section for your app in ServerPilot control panel and remove any domain

[2018-06-01 11:26] #14 closed

[2018-06-01 12:31] mariusherea commented on #16
I found the problem.
I needed to hash -r and hash -d before rwssl -n appname

[2018-06-01 17:12] #16 closed

[2018-06-10 06:49] jesvinjoachim commented on #14
what you think of developing serverpilot alternative  ?

[2018-06-10 15:06] johanguse commented on #14
@jesvinjoachim SP change prices... Free will be over. Check serverpilot Blog.

[2018-06-10 17:59] jesvinjoachim commented on #2
i just moved to it...

i think its better than serverpilot in perfomance  and features

[2018-06-16 18:28] digitalwordings opened #17 "serverpilot is not going to be free after july 10, need support for runcloud.io"

[2018-06-22 10:33] rea1994 opened #18 "All apps say they do not resolve"
Hello, any of the apps I try to install on say that they don't resolve to my server. How do I fix this? All of the websites are up and running. Not sure what the issue is? Sorry for the question. I'm new to all of this stuff.

[2018-06-22 10:46] rehmatworks commented on #18
Can you please check your apps' domains? I suspect that it contains some generic domains added by serverpilot or your websites are behind a CDN like CloudFlare.

[2018-06-22 10:49] rea1994 commented on #18
No just the www and regular domain with nothing before it. Does your script support Ubuntu 18.04? If not, that might be the issue I’m having. Realized I should say that before making anyone go crazy. :)

[2018-07-06 08:18] mmc501 opened #19 "This package is intended to be used only on ServerPilot servers. Aborting!"
I had this script running ok on my server pilot server and all existing domains ssl enabled.
I have added a new app and now trying to get ssl enabled but I get the error:

This package is intended to be used only on ServerPilot servers. Aborting!

I get that message if i try to run any of the commands.

[2018-07-06 09:04] rehmatworks commented on #19
Looks like you are running it without `sudo` privileges. Before executing any commands, the script checks for the existence of ServerPilot's created directories. In your case, seems like you are running it without `sudo` or `root` privileges and thus the script is unable to access the concerned directories.

[2018-07-06 09:05] rehmatworks commented on #18
Thanks for your feedback. I'll do a test on an Ubuntu 18.x server and will fix if any issues are there.

[2018-07-06 09:05] mmc501 commented on #19
Exactly the issue - sorry - did everything under root before. Thanks

[2018-07-06 09:05] #19 closed

[2018-07-07 09:36] rehmatworks commented on #18
Did a test and all went well. It should be a DNS issue for you. Please check and ensure that your all apps contain valid domains that are pointing to your server.
[code]

[2018-07-07 09:36] #18 closed

[2018-07-07 09:37] rehmatworks commented on #17
Will have a look into that.

[2018-07-07 09:37] #17 closed

[2018-07-07 09:38] #6 closed

[2018-08-13 22:34] bfjare opened #20 "New cert not loading"
I recently upgraded RWSSL.  It's saying the cert was successfully installed but the old cert is still loading.  Looking for the best way to debug this.

[2018-08-16 17:52] wootwoot1234 commented on #4
@rehmatworks thanks for the great tool.  I would love to use wildcard certificates too!  :)

[2018-08-18 11:49] Dibbyo456 opened #21 "It's time for RunCloud?"
Incase you may not aware that ServerPilot has [removed their Free plan](https://serverpilot.io/blog/2018/06/08/pricing-changes). Meaning you have to pay if you are gonna use their services. Although old servers are not affected, you just can't add new servers unless you pay!

Here comes RunCloud. They offer [free plan](https://runcloud.io/pricing.html) as well. But it does not gives you the abilit

[2018-08-30 02:32] rehmatworks commented on #21
Thanks for the suggestion. I'll give this some time this weekend and will release a RunCloud version.

[2018-09-01 20:36] rehmatworks commented on #21
RunCloud version is ready. I hope you find it useful:
https://github.com/rehmatworks/runcloud-letsencrypt

[2018-09-01 20:36] #21 closed

[2018-09-05 04:00] lefchild opened #22 "Two apps installed, only one detected"
I've installed rwssl on my server and it is working successfully for one app, but I have two installed on my server. I have tried rwssl -a, -f, and typing in the app name directly with -n, but it still only detects one app.

I did run some updates on my server and uninstalled then reinstalled rwssl, after which the second app stopped detecting. Any help is appreciated.

[2018-09-05 04:13] lefchild commented on #22
I've fixed this. It seems it was a problem when I uninstalled the app. I copied the files in /etc/nginx-sp/vhosts.d and replaced the app names. The second app was properly detected and installed after that.

[2018-09-05 04:13] #22 closed

[2018-09-14 11:35] ricardoaiello opened #23 "Can't add new domains to existing app"
Hi,

First of all, congratulations and thank you for your work.

I wanted to report a bug when adding new domains to an existing ServerPilot app. When trying to issue the new certificate, it always says

even though all domains are pointed correctly.

Is there any workaround for this?

Thanks,

Ricardo

[2018-09-14 17:13] thgweb commented on #23
Similar problem here, have any solution for this?

[2018-09-14 19:28] crownvic commented on #23
Yup. The similar problem. Though a domain in question has a .cool zone. I haven't tried with other zones yet.

[2018-09-14 19:35] ricardoaiello commented on #23
The one that raised my issue has a `.life` zone. As far as I know uncommon zones shouldn't be a problem, but I'm no expert on the subject.

[2018-09-14 19:36] ricardoaiello commented on #23
Sorry, closed the issue by mistake when replying.

[2018-09-15 23:51] crownvic commented on #23
Which option to choose that will not break the server :)

And I should run it with my own domain, right? Not example.com?

[code]

[2018-09-16 08:51] rehmatworks commented on #23
@crownvic Can you please proceed by selecting `2` and then by providing the `public` directory'a path of your app? I need to see the final output.

[2018-09-16 13:36] crownvic commented on #23
here we go....

<img width="982" alt="image" src="https://user-images.githubusercontent.com/5096949/45597030-832d8480-b9ce-11e8-830e-3bb175eabc6c.png">

[2018-09-16 13:37] rehmatworks commented on #23
Looks fine, can you try with `rwssl -n lifeiscool`? What does it say? Still DNS validation error is coming up?

[2018-09-16 13:41] crownvic commented on #23
[code]

[2018-09-16 13:41] rehmatworks commented on #23
Thanks for your feedback. I'll look into the issue.

[2018-09-16 15:48] ricardoaiello commented on #23
Hi Rehmat,

Here are the results of my test. Being this a public forum, I replaced the specific data. I can send it to you privately if you need it.

[code]

Hope this helps.

Thanks,

Ricardo

[2018-09-16 15:58] rehmatworks commented on #23
@ricardoaiello Thanks for your test as well. As a quick fix, you should add an exception rewrite condition in your .htaccess file if any rewrite rule has been written in your .htaccess file. This line should go before the rewrite rule:

[code]

If you need a live example, when forcing HTTPS and non-www on a site, we will have to use the exception like this:
[code]
I'll update the script to handle

[2018-09-17 12:05] ricardoaiello commented on #23
Hi Rehmat,

Thanks for your answer.

I'm handling the `http` to `https` redirection using the `-redir` option of your script. So I understand I should make this change in other file rather than the public `.htaccess` of the specific app. Am I correct?

Thanks again,

Ricardo

[2018-09-21 01:04] boldcity opened #24 "invalid app name"
when i run the command rwssl -n app name. the results come back as"The app name seems to be invalid." what could this issue be.

[2018-09-24 12:09] ricardoaiello commented on #23
Hi Rehmat,

I still can't figure out where to add that fix. I'm trying in the `.htaccess` file of the site, but it doesn't seem to work.

Should I be looking somewhere else?

Thanks,

Ricardo

[2018-10-02 21:48] tridoan opened #25 "Certificate limit reached"
Hi there,
I keep getting this error for a number of my existing/old apps when doing a "-n APP":

Obtaining SSL certificate for the app portal.
2 valid domains found for the app
SSL certificates limit reached for xyz.domain.com www.xyz.domain.com. Please wait before obtaining another SSL.

I've waited a week and still getting it. Do you know how i would get around this?  Thanks

[2018-10-18 09:34] auludag opened #26 "pip 18.1 issues"
hi,

when i see "You are using pip version 8.1.1, however version 18.1 is available.
You should consider upgrading via the 'pip install --upgrade pip' command." i did that.

but after that pip command regarding rwssl seems broken

Traceback (most recent call last):
  File "/usr/bin/pip", line 9, in <module>
    from pip import main
ImportError: cannot import name main

[2018-11-22 03:11] #24 closed

[2018-12-12 04:27] ricardoaiello opened #27 "Can't renew expired certificates"
Hi Rehmat,

Today some of my certificates expired. When trying to renew them, I get the following error:

DNS check failed. Please ensure that the domain(s) example.com www.example.com are resolving to your server.

Of course, they are resolving to my server, that's the first thing I checked. But it happened to lots of my domains, all with certificates expiring today.

Please let me know what I ca

[2018-12-12 05:29] #27 closed, assigned to nobody

[2018-12-19 00:39] onetrev commented on #25
In ServerPilot you need to remove the www. sub-domain. Your app should only be set for `xyz.domain.com`.

[2018-12-19 00:48] onetrev commented on #26
Similar errors for me when I run `rwssl` on a server running pip-18.1

[code]

[2018-12-19 07:13] onetrev commented on #26
But I did get it working again like so...
- I downgraded to Pip 9.0.1 as I knew that worked on another server. I did that with this command: `sudo pip install --force-reinstall pip==9.0.``
- What's odd though is it still didn't work. So I then uninstalled `rwssl` per documentation.
- Then I re-installed `rwssl` and now it works. Keep in mind I'm still running pip 9.0.1

Hope that at least helps ge

[2018-12-28 06:05] rehmatworks commented on #26
This is related to pip-upgrade and not an rwssl-related issue. Please check https://stackoverflow.com/questions/49836676/error-after-upgrading-pip-cannot-import-name-main to get help on how to solve this issue.

[2018-12-28 06:05] #26 closed

[2019-01-09 14:14] GiancarloJSantos commented on #4
This feature would be awesome!

Thanks for your generosity

[2019-01-23 17:30] #20 closed

[2019-01-28 17:51] ClearMarble opened #28 "TLS-SNI-01 validation reaching end-of-life"
Hi,

First of all thanks for the amazing script, it's been a lifesaver on my grandfathered free plan.

I just got an email regarding an SSL cert I created with this and wondering what the deal might be. It says the Let's Encrypt client used ACME TLS-SNI-01 domain validation to issue my certificate, that this validation method is reaching end of life and that the client needs to use an alternative

[2019-04-23 21:09] matirosero commented on #23
Hi Rehmat,

I'm having the same issue, I ran a dry run and get the following (changing my domain and app name):

`Saving debug log to /var/log/letsencrypt/letsencrypt.log

How would you like to authenticate with the ACME CA?
- - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - -
1: Spin up a temporary webserver (standalone)
2: Place files in webroot directory (webroot)
- -

[2019-07-08 09:37] Awilson089 opened #29 "Conflict with previous letsencrypt script"
Hi

Apologies if this is off-topic but I'm currently using another serverpilot lets encrypt solution (https://github.com/lesaff/serverpilot-letsencrypt) but it has a lot of issues and fewer features.

I was wondering if you can see any potential conflicts with moving to your script? and if you have any tips for migration.

Cheers

[2019-09-04 18:04] TSerra-PT opened #30 "SSL certificates limit reached"
Hi guys,

I tried to create a new ssl to my project (with this commad: rwssl -n project-public) however the console gives me this error : " SSL certificates limit reached for ... Please wait before obtaining another SSL.".
I waited almost two weeks and the error still remains. Do i need to wait more time? There is other way to jump this error and create a new ssl?

I will appreciate any help ;)

[2019-09-20 01:08] tridoan opened #31 "Option to delete all rwssl certs"
Hi there,
Would be nice to have an option to delete all certs created by rwssl, so that we can start again fresh, or just clean up...

Thank you for this script.

[2019-09-26 10:37] #13 closed

[2019-09-26 10:38] rehmatworks commented on #23
Releasing an upgrade. That should address all issues.

[2019-09-26 10:38] #23 closed

[2019-09-26 10:40] rehmatworks commented on #29
Hi @Awilson089 This might result result in some conflicts. I'm not 100% sure how the other tool is creating SSL vhosts. Duplicate vhosts may be left there. If you can handle the duplicate vhosts issue, i.e. if you can manually remove them if conflicts arise, you are good to use this one.

[2019-09-26 10:40] #29 closed

[2019-09-26 10:41] rehmatworks commented on #31
Hi @tridoan I'm releasing a new upgrade with more features. I'll consider this feature there.

[2019-09-26 10:41] #31 closed

[2019-09-26 10:42] rehmatworks commented on #30
Hi @TSerra-PT Sorry for the trouble you had. Current version wasn't using dry run and if the tool was tried multiple times on an app where domains aren't pointed yet, the limit would reach. If you have waited 7 days, this should work. I'm releasing an upgrade and that should address this issue as well.

[2019-09-26 10:42] #30 closed

[2019-09-26 11:29] rehmatworks commented on #28
Hi @ClearMarble This is talking about the validation that was used to obtain the SSL. Renewal will fail once they will drop this validation. I'm introducing a new utility that you can use to get SSLs using their latest validation methods. I'll post an update here once I release it.

[2019-09-26 11:29] #28 closed

[2019-09-26 11:30] rehmatworks commented on #25
Sorry for the delayed reply. I hope it's sorted out now.

[2019-09-26 11:30] #25 closed

[2019-09-26 11:30] rehmatworks commented on #4
Sorry for the delayed reply. I'm introducing a new new utility and I'll consider this feature there.

[2019-09-26 11:30] #4 closed

[2020-01-18 22:44] santigraviano opened #33 "Update ACME to version 2"
Hey can you update the repo to use Let's Encrypt new ACME v2?

[2020-01-19 13:54] rehmatworks commented on #33
Thank you for your input. I will soon release a major upgrade that will address several issues and I'm planning to use ACME V2 API directly without requiring certbot.

[2020-02-28 13:23] lincolnpixel opened #35 "ServerPilot"
H Rehmat, kindly respond to mail.
Thanks

[2020-03-02 11:51] Awilson089 opened #36 "Certificate does not install correctly"
Hi, when I generate a new certificate for an app it finds the domains and installs correctly but the SSL never appears when visiting the URL.

The certifate has been generated in `/etc/letsencrypt/live` and also the *-ssl.conf file in `/etc/nginx-sp/vhosts.d`.

Also cant see anything obvious in the .conf file, any ideas?

[2020-03-03 10:10] Awilson089 commented on #36
I just had the following email from LetsEncrpyt:

I went back onto my server to renew the SSL using `rwssl -n` but it still doesnt seem to be working.

[2020-03-07 17:19] cbesot opened #37 "DNS check failed"
Hi,
migrate from an old script to yours but no cert was installed. I have a DNS check failed on all domains. However, the domains have been ok for years and nothing has changed on the DNS. Ping and DNS propag tests are ok.
Thanks.

[2020-03-07 17:56] cbesot commented on #37
That's ok, just a problem with nginx, not your script.

[2020-03-07 17:56] #37 closed

[2020-04-06 08:36] onetrev commented on #33
I just wondered if the major upgrade you mentioned @rehmatworks would help with the autorenew issues that still seem to be out there?

I'm not sure mine have ever renewed properly unless I've restarted my Serverpilot services, Apache / Nginx, then I think maybe they do if it's close to the expiry. The cron job (rwsslrenew) is there in my `/etc/cron.d#` folder, I'm running _rwssl_ v1.0.6, but every

[2020-04-13 06:05] rehmatworks commented on #33
Hi @onetrev, yep, that will work perfectly. The upgrade will bring a lot of improvements and that should fix several bugs that users have been reporting. Please consider end of April as an ETA for this upgrade.

[2020-04-13 06:07] rehmatworks commented on #36
@Awilson089 Sorry for replying late. Were you able to fix this issue? If no, please wait for the next upgrade or you can get in touch with me at contact[at]rehmat.works and I'll try to help you directly.

[2020-04-13 06:08] rehmatworks commented on #35
I hope your issue sorted out. Please wait for the next upgrade that will fix all issues and bugs.

[2020-04-13 06:08] #35 closed

[2020-04-14 17:21] lincolnpixel commented on #33
hi, you never responded to my issue

[2020-04-15 19:15] rehmatworks commented on #33
Hi @lincolnpixel, I replied to you via email and I hope that was hopeful enough. Please wait for the upgrade to address your issues.

[2020-04-18 00:46] rehmatworks commented on #33
Is any volunteer there to provide me a server with serverpilot grand-father plan? I want to run some tests and want to be sure that my new upgrade is backward-compatible. Unluckily, I don't have a server with older serverpilot (free) plan. @lincolnpixel I believe you provided me with root access to a server. If anyone can provide a server for testing (for a day), that'd be great. I've almost compl

[2020-04-18 06:03] onetrev commented on #33
I have a friend that I can ask if she's okay with this. It just has one small site that is still active, but not that important if it goes down for a bit during testing. If no one else has stepped forward I will ping you here @rehmatworks to get your email if I get the approval.

[2020-04-18 09:22] rehmatworks commented on #33
@onetrev Thank you so much.

[2020-04-18 12:01] onetrev commented on #33
Sent you server details via email. PS, your website seems to be giving a 522 Connection Error.

[2020-04-18 12:02] rehmatworks commented on #33
@onetrev Thank you so much! In terms of my website, I haven't put it live yet.

[2020-04-18 13:17] rehmatworks commented on #33
@onetrev Thank you so much for your tremendous support. I'll be releasing the major upgrade later today or tomorrow.

[2020-04-18 13:17] #33 closed

[2020-04-18 14:19] rehmatworks commented on #36
Please upgrade to the latest version.

[code]

And read readme here on GitHub or get help on commands by typing `rwssl -h`

[2020-04-18 14:19] #36 closed

[2020-05-04 18:11] unni-krishnan-95 opened #39 "pkg_resources.DistributionNotFound"

[2020-05-04 18:16] #39 closed

[2020-05-04 18:16] unni-krishnan-95 commented on #39
my bad , sorry it works fine now

[2020-05-05 19:31] bekircem opened #40 "python3-pip : Depends: python3-setuptools but it is not going to be installed"
Hi,

I was using the previous version of rwssl. I tried updating and got an error.

`pip3 install --upgrade --force-reinstall rwssl`

[code]

[code]

[code]

After trying a little, a different result came up

[code]

Any ideas?

Thanks.

[2020-05-05 22:48] bekircem commented on #40
I was installed Python3, pip and rwssl with this bash:

https://gist.github.com/instaBOT/dfb7eac79158ee8b098a90aa288d5713

But when i use that command: `rwssl getcert --app gam*******`

Output:

`A possible DNS issue found. ga********* may be pointing to a wrong IP (167.******)`

[2020-05-05 23:23] bekircem commented on #40
I tried once again, this time it worked. But my main domain changed non-www version. I can't use www anymore.

[2020-05-05 23:29] bekircem commented on #40
I deleted the domain names and added them again via serverpilot and it worked later. Thanks for this great work! I hope what I share here will help those who have similar problems

[2020-05-05 23:29] #40 closed

[2020-05-08 06:10] unni-krishnan-95 opened #41 "error"
`Do you really want to obtain an SSL certificate for the app wp20.mydomain.icu? [Y/N] Y`

`Activating SSL for app wp20.mydomain.icu...`

`'NoneType' object has no attribute 'decode'`
`
am getting this error while requesting SSL- cretificate

[2020-05-14 03:16] rehmatworks commented on #41
Is your server behind a proxy, like Cloudflare?

[2020-05-15 03:05] bluehatdesign opened #42 "DNS issue"
I'm getting the following error:

"A possible DNS issue found. <domain> may be pointing to a wrong IP (xxx.xxx.xx.xx)"

The IP address listed is the correct IP for the domain. What would cause this?

[2020-05-15 16:44] #42 closed

[2020-05-21 14:44] fuad02 commented on #12
mine is still error:
rwssl -n alherbalid
Obtaining SSL certificate for the app alherbalid.
2 valid domains found for the app
DNS check failed. Please ensure that the domain(s) alherbal.id www.alherbal.id are resolving to your server.
I try to find solution above but none of these work, can you help me? thanks

[2020-05-22 13:42] rehmatworks commented on #12
Maybe you are using the old version? Can you please install the latest version?

[code]
And try obtaining the SSL again. If there isn't any misconfiguration in DNS or if there isn't any CDN like Cloudflare is masking your origin server, all should work.

[2020-05-22 15:05] fuad02 commented on #12
here's what I got when I try unstall rwsll
pip3 uninstall rwssl
Traceback (most recent call last):
  File "/usr/bin/pip3", line 11, in <module>
    sys.exit(main())
  File "/usr/lib/python3/dist-packages/pip/__init__.py", line 215, in main
    locale.setlocale(locale.LC_ALL, '')
  File "/usr/lib/python3.5/locale.py", line 594, in setlocale
    return _setlocale(category, locale)
locale.Error: unsu

[2020-05-22 21:40] nvmng commented on #37
Hi, sorry to bother, how did you fix this problem? I'm currently experiencing it.

[2020-05-25 08:03] cbesot commented on #37
I'm sorry, I completely forgot already. I've been working too hard lately!

[2020-05-30 03:27] nickfmc opened #43 "SSL not available for this app yet."
I had an old version of the script, and when my cert expired and didn't update I updated my script to the latest version but now just get this error when trying to install ??

[2020-06-02 08:37] nabeh opened #44 "DNS bug"
When i try to install ssl with the new script i get this error:
`A possible DNS issue found. domain.com may be pointing to a wrong IP ()`
what might be the issue? it was working perfectly before.

[2020-06-09 09:53] sindit opened #45 "CRON job for Cert Renewal not added during install"
The certs on my server did not renew and expired the other day. Managed to renew them manually with rwssl.

The automatic renewal apparently did not work. On inspection I notice that no CRON job had been created. No /etc/cron.weekly/rwssl-sslrenewals is present.

Reinstalled rwssl with:

pip3 install --upgrade --force-reinstall rwssl

However still no rwssl-sslrenewals CRON job got installed to /e

[2020-06-09 17:44] rehmatworks commented on #45
Can you please try cloning the repo and install the package?

[code]

If the CRON job is still not created, please try creating the CRON job manually. You can find the example in setup.py file.

[2020-06-09 18:56] sindit commented on #45
Thanks! Cloning and installing did create rwssl-sslrenewals in /etc/cron.weekly/

[2020-06-12 01:09] #45 closed

[2020-06-13 15:13] nabeh commented on #42
How did you resolve this?

[2020-06-13 16:48] bluehatdesign commented on #42
I didn't resolve it. I upgraded my serverpilot account so I could use their ssl.

[2020-06-15 20:48] lqdforce commented on #44
same thing, happens with renewal and re-issue, also happens with new domains.
tried everything DNS-related, it's something about the dns check of `socket.gethostbyname(domain)`
more specifically, in call to `validators.ipv4` or `validdoms`

@rehmatworks are you still maintaining this? any chance for a logger or a verbose mode, even a more informative error?

[2020-06-22 17:36] bfjare commented on #43
I am getting this as well...

A possible DNS issue found. XXX.io may be pointing to a wrong IP (XXX.XXX.XXX.XXX)
A possible DNS issue found. www.XXX.io may be pointing to a wrong IP (XXX.XXX.XXX.XXX)
SSL not available for this app yet.

I can confirm the ip addresses are correct

[2020-06-22 17:37] bfjare commented on #43
If i try to add or remove all I get

list index out of range

[2020-07-01 17:12] conorbarclay commented on #43
+1. Getting the same when I try `getcerts` or `removecerts`.

[2020-07-13 18:47] rrrevin commented on #44
I have the exact same issue. I thought the issue might be that the domain is a CNAME, so I changed it to an A record. The IP is correct. Same error.
[code]

[2020-07-13 18:54] rrrevin opened #46 "cron entry not created..."
I followed the pip3 install instructions under "Getting Started", but noticed no weekly cron entry was added to /etc/cron.weekly.
The cron file is mention in the uninstall section. (/etc/cron.weekly/rwssl-sslrenewals)

What should it look like?

[2020-07-13 19:38] rrrevin commented on #46
I found this : https://github.com/rehmatworks/serverpilot-letsencrypt/issues/45, but it really should be part of the pip install process, yes?

[2020-07-13 22:18] rrrevin opened #47 "Uninstall missing step"
For uninstall instruction, you are missing the removal of all the acme.conf files that get created under /etc/nginx/vhosts.d/<domain>. If those aren't removed, any future ".well-known" ACME requests get redirect to an area that does not exist or is invalid (/var/.rwssl/...)

[2020-07-17 00:11] onetrev commented on #46
Same issue here, and as such my certs are about to expire as they were not automatically updated. Bummer.

[2020-07-17 11:19] onetrev commented on #43
Same here on my attempt to remove and `getcerts` again. It used to work perfectly when I first started using this updated script. This [other bug](https://github.com/rehmatworks/serverpilot-letsencrypt/issues/44) is a duplicate of this one I believe.

[2020-07-17 22:44] rrrevin commented on #44
For those who cannot wait for a fix.. I used the following info here to get an SSL for ServerPilot..
https://www.robertwent.com/blog/using-letsencrypt-serverpilot/

[2020-07-18 17:34] TSerra-PT commented on #44
For thoses who are facing this issue/problem, uninstall this rwssl version (through this command pip3 uninstall rwssl) and install the previous version.
This is a link to the old version [https://web.archive.org/web/20191014061919/https://github.com/rehmatworks/serverpilot-letsencrypt](https://web.archive.org/web/20191014061919/https://github.com/rehmatworks/serverpilot-letsencrypt).

It is a temp

[2020-07-19 05:45] rehmatworks commented on #44
I've pushed the fix, please install the latest version:

[code]
I hope this fixes all issues.

[2020-07-19 05:48] rehmatworks commented on #46
#44 should fix the cron issue as well. Please install the latest version of the script as I've mentioned in the last reply there.

[2020-07-19 05:49] rehmatworks commented on #43
Please check my last reply in #44

[2020-07-19 05:50] rehmatworks commented on #41
Please install the latest version as I've mentioned at #44

[2020-07-19 05:50] #41 closed

[2020-07-19 06:39] rehmatworks commented on #46
And to renew the certs right away, please run:

[code]

And for future renewals, please install the latest version:

[code]

[2020-07-19 06:51] rehmatworks commented on #47
3a30332 fixes this issue.

[2020-07-19 06:51] #47 closed

[2020-07-19 06:53] rehmatworks commented on #46
e963c96 should address these bugs.

[2020-07-19 06:53] #46 closed

[2020-07-19 06:53] #43 closed

[2020-07-19 06:54] #44 closed

[2020-07-27 12:51] lqdforce commented on #44
@rehmatworks updated to 2.0.4 to test this.
still getting the same error.

i could try a clean install but wanted to troubleshoot.
anything I can do to provide more info?

[2020-07-27 12:57] rehmatworks commented on #44
@lqdforce If your server is from the old grandfathered plan, is this possible for you to provide me the root access? I don't have a grandfathered server to test against. If that's possible, please send me an email at contact[at]rehmat.works

[2020-07-27 16:51] santigraviano opened #48 "Error when trying to get cert"
After I ran `rwssl getcert --app myapp`

I got this error `A possible DNS issue found. app.ga may be pointing to a wrong IP (111.11.11.11)
A possible DNS issue found. www.app.ga may be pointing to a wrong IP (111.11.11.11)
SSL not available for this app yet.`

111.11.11.11 refers to my digitalocean server IP

I don't know well what the error means.

Thanks for any help.

[2020-07-29 15:32] bfjare commented on #36
I recently had this same issue as well with the newest version of rwssl

[2020-07-29 15:56] bfjare opened #49 "Certificate not installing correctly"
#36 Having the same issues as here.  Fully updated and not behind cloudflare or anything like that.

[2020-07-29 17:02] rehmatworks commented on #49
@bfjare Can you please contact me at contact[at]rehmat.works? I need to have a look at your server as I can't reproduce this issue with the newly deployed servers.

[2020-07-30 16:27] santigraviano commented on #48
The problem was related to missing files from a deleted app. So I recommend checking the log file for nginx-sp for any issue.

[2020-07-30 16:28] #48 closed

[2020-08-09 15:38] adenadoume opened #50 "Cant install cert - Possible DNS issue with newest version"
Hi get the error
A possible DNS issue found. mysite.com may be pointing to a wrong IP (128.xx.xx.xx)
A possible DNS issue found. www.mysite.com may be pointing to a wrong IP (128.xxx.xx.xx)
SSL not available for this app yet.

Uninstalled all previous, no Cloudflare, just DO - can't install for any APP

any ideas? thanks

[2020-08-29 12:41] fredericpfisterer opened #51 "Config syntax, missing ';' at index: 1052"
I keep having this error no matter what options I try. I also have the same error on an another server. Note that I did use a previous version of rwssl on both servers.

Any help would be greatly appreciated,

cheers

[2020-09-03 18:57] bfjare commented on #51
I'm getting this as well

[2020-09-03 18:57] #49 closed

[2020-09-04 16:24] bfjare commented on #51
[code]

[2020-09-16 14:46] Konfuze commented on #51
Got the same while trying to run `rwssl getcert --app APP_NAME`, but with error at 1152:
`Config syntax, missing ';' at index: 1152`

[2020-09-17 18:57] bfjare commented on #51
@rehmatworks any progress on this?  Thanks again for everything.

[2020-09-17 19:01] bfjare commented on #51
If I try to uninstall and reinstall I get the following errors.

`Traceback (most recent call last):
  File "/usr/lib/python3/dist-packages/pip/_vendor/__init__.py", line 33, in vendored
    __import__(vendored_name, globals(), locals(), level=0)
ImportError: No module named 'pip._vendor.cachecontrol'

During handling of the above exception, another exception occurred:

Traceback (most recent call

[2020-09-23 19:54] reina3596 opened #52 "Config syntax, missing ';' at index: 1073"
I obtain this error when I try to generate certificate with

rwssl getcert --app

In Ubuntu 18.04

[2020-09-27 13:16] sindit commented on #51
Same issue here:

Do you really want to obtain an SSL certificate for the app myapp? [Y/N] y
Activating SSL for app myapp...
Config syntax, missing ';' at index: 1061

Digitalocean droplet running Ubuntu 18.04 LTS + Serverpilot. First time I installed RWSSL (2.0.4) on this particular server. Do not have this issues on another similar server still running RWSSL version 2 (not the v2.0.4 update).

@

[2020-09-27 15:28] sindit commented on #52
Same issue here:

[code]

Digitalocean droplet running Ubuntu 18.04 LTS + Serverpilot. First time I installed RWSSL (2.0.4) on this particular server. Do not have this issue on another similar server still running RWSSL version 2 (not the v2.0.4 update).

@rehmatworks please help!

[2020-09-28 11:00] ofyalcin commented on #51
Same issue.

[2020-09-28 11:01] ofyalcin commented on #52
Same issue.

[2020-10-02 21:31] alexcroox commented on #8
If I'm on an older version (not sure how to check which) from earlier this year. How do I update and install the required cron job fixes? (Mine fails to auto renew currently)

[2020-10-02 23:30] rehmatworks commented on #8
Hi Alex,
The script has a bug and I'll be spending time this weekend to fix it. And
then you can install the latest version of rwssl that will add the CRON job
for you. If you need to add the CRON job manually, I'll send you the
instructions.

On Sat, Oct 3, 2020 at 2:31 AM Alex <notifications@github.com> wrote:

[2020-10-05 18:00] MediaMaquina commented on #52
I know many people comes here. And the script is confirmed not working now by the author.
So as a work around, do it manually for now: https://www.robertwent.com/blog/using-letsencrypt-serverpilot/
I tested it, working perfectly.
 **Disclaimer:** If you have a live server use "reload" instead of restart of nginx, else people will get connextions reseted (this is important on downloads servers not

[2020-10-07 07:24] cbesot commented on #52
Config syntax, missing ';' at index: 984 for me :)

[2020-10-15 19:18] bfjare commented on #52
Thanks for sharing this.

[2020-10-22 14:29] teraphy commented on #50
I also got this error on a DO droplet using floating IP addresses.
I just commented out the following since the certbot command runs fine.

/usr/local/lib/python3.6/dist-packages/rwssl/utils.py
[code]

[2020-10-22 14:44] teraphy commented on #52
The error seems to stem from the nginx.py module. Simply resaving each conf file within /etc/nginx-sp/vhosts.d/ is a solution, but it will comeback since the configs are generated or modify the nginx.py module to remove the  check that was added. https://github.com/peakwinter/python-nginx/commit/8c107982bacd6ed8cf81cc89753f45741e74e5e1
[code]

[2020-11-29 15:24] vntechsolutions commented on #44
I got the same issue with a grandfathered server.

[2020-12-23 18:07] santigraviano opened #53 "SSL not available for this app yet"
Hi, I'm trying to get an SSL certificate and after the command is executed it always returns "SSL not available for this app yet."
I had tried various times and got the same result. I have others websites and I have no problem with them, only with this one.

Could you give me some clue of what this errors means? So I can try to solve it

Thanks.

[2020-12-26 06:39] bikedorkjon opened #54 "Installation errors on Ubuntu 16.04.7 LTS"
I'm getting the following error midway through the logging `Failed building wheel for cryptography` which then finally fails with the following:

[code]

[code]

[2020-12-26 19:15] bikedorkjon commented on #54
I'm not sure what the actual issues was but updating PIP to v18 seemed to solve it

[2020-12-26 19:15] #54 closed

[2020-12-26 19:49] bikedorkjon commented on #53
Running into the same issue when after commenting out the code as explained in #50

[2020-12-28 04:48] bikedorkjon commented on #50
I'm getting this error on Linode.

[code]

[2021-01-04 20:52] santigraviano commented on #53
So maybe I found a fix for this.

I deleted all domain related files in /etc/nginx-sp/vhosts.d which are:
domain.conf
domain.d/acme.conf
domain.d/main.conf

And I copied the same files from another domain, a fresh installed domain.
Then I replaced the domain information for the domain that I had this issue.
I ran rwsll getcert --app domain
And voila it works.

I assume that the problem was that I

[2021-01-04 20:52] #53 closed

[2021-10-13 13:58] Bronskiy commented on #44
Same issue too.  grandfathered server.

[2022-01-27 12:00] nvmng opened #56 "DNS Issues"
I have a grandfathered serverpilot account and have been trying to get this ssl option work for me to no avail. I have tried severally and would appreciate any help.

I have tried with the domain on cloudflare and off cloudflare and I keep getting the same error.

A possible DNS issue found. site.com may be pointing to a wrong IP (correct server ip)
A possible DNS issue found. www.site.com may be

[2022-01-27 15:53] sindit commented on #56
The RWSSL application by RehmatWorks is based on the now deprecated CERTBOT-AUTO. However, this script is no longer maintained by LetsEncrypt/Certbot/EFF. See:

[Certbot documentation](https://eff-certbot.readthedocs.io/en/stable/install.html#certbot-auto)

So even if you get RWSSL to work, it is not future proof.

The current supported way to install (and get updates for) Certbot on Ubuntu is via